# App
LOCALHOSTS=localhost,127.0.0.1
DEBUG=False

# Database
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PORT=5432
DATABASE_HOST=192.168.222.129

# Redis
REDIS_URL=redis://redis:6379
REDIS_PASSWORD=